* {
font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
margin: 0;
padding: 0;
box-sizing: border-box;
}

#main {
width:100%;

}

#fs {



width: 100vw;
height: 100vh;
background-color: black;
display: flex;
justify-content: center;
align-items: center;
}

#fs div {
width: 50%;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
overflow: hidden;
}

#fs div h1 {

position: absolute;
color: white;
bottom: -5vh;
font-family: "Ubuntu", sans-serif;
font-weight: 300;
font-style: italic;
}

#elem {

width: 100vw;
height: 100vh;




background-color: lightgreen;
}

#white {

width: 100vw;
height: 100vh;
background-color:#111;
position: relative;
display: flex;
justify-content:center;
align-items:center;
overflow: hidden;
flex-direction:column;
}

#nav {
width: 100vw;
height: auto;
display: flex;
justify-content: space-between;
padding: 3vh;
position: absolute;
top: -10vh;

}


#nav a{ 
color: white;
border: 2px solid green;
text-decoration: none;
padding: 1vh 1vh;
border-radius: 40px;
font-size:2vh;
}
#maintitle{
color: white;
display: flex;
align-items: left;
justify-content:center;
flex-direction: column;
}

#nav #menu{
border-radius: 50%;
width: 5vh;
height:5vh;
display:flex;
justify-content:center;
align-items:center;
z-index:3;


}
#maintitle div{
position: relative;
overflow: hidden;

}

#maintitle #nyro{
font-family: "Ubuntu", sans-serif;
font-weight: bold;
font-size:8vh;
font-style: italic;
color: green;
position: absolute;
top: -10vh;
}


#maintitle div{
width: 100vw;
height:11vh;
position: relative;
overflow: hidden;
display: flex;
padding-left: 2vh;

}


.wd {
font-family: "Ubuntu", sans-serif;
font-weight: 800;
font-style: normal;
font-size:8vh;
position: absolute;
bottom: -10vh;
}


#currentposition{
display: flex;
justify-content:space-evenly;
padding: 2vh;

}
.currentwork{
margin-top:10vh;
text-transform: uppercase;
font-size: 1.5vh;
opacity: .7;
color:white;



}

#menupage{
position: fixed;
right:0;
height:100vh;
width:0vw;
background-color: #111;
display:flex;
justify-content:center;
text-align:right;
flex-direction:column;
gap:2vh;
z-index:2;
overflow:hidden;

border-bottom-left-radius: 50%;
border-top-left-radius:50%;
box-shadow:0px 0px 100px 1px #eee;

}

#menupage a{
color: #111;
font-weight: 800;
font-size: 5vh;
text-decoration: none;
margin-right: 3vh;
}


@media (min-width: 769px) {
#fs {
height: 50vh;
}

#fs div {
width: 30%;
height: 20px;
}

#fs div h1 {
font-size: 24px;
}

#elem, #white {
height: 50vh;
}
}
 
 #page2{
 height: 90vh;
 width:100vw;
background-color:#111;
 display: flex;
 justify-content:center;
flex-wrap: wrap;
gap: 10vh;
 }

#img1{
width: 60vw;
height:45vh;
background-size:cover;
background-image: url("img1.jpg");
transform: rotate(-5deg);
border-radius:30px;
margin-left: -20vw;


}

#img2{
width: 60vw;
height:45vh;
background-size:cover;
background-image: url("img2.jpg");
transform: rotate(0deg);
border-radius:30px;

}

#img3{
width: 60vw;
height:45vh;
background-size:cover;
background-image: url("img3.jpg");
transform: rotate(5deg);
border-radius:30px;
margin-left: 20vw;

}



#page3{width: 100vw;
height: 53vh;
background-color: red;}

#aboutme{
width: 100vw;
height: 8vh;
background-color:#111;
color: lightgray;
text-transform: uppercase;
display: flex;
align-items: center;
padding-left: 5vw;

}

#fullbio{
width:100vw;
height: 45vh;
background-color:#111;
text-transform: uppercase;
display: flex;
flex-direction: column;
align-items: center;
padding-left: 5vw;
font-size:4.5vh;
color:#eee;
position: relative;

}

#unc{font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
color: lightgreen;
font-style: italic;
}

#mob{position: absolute;
color: yellow;

bottom: 8vh;
font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
left:7vw;}

#web{position: absolute;
color: lightgreen;

bottom: 8vh;
right:17vw;
font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


#page4{
width: 100vw;
height: 150vh;
 background-color: #222;
}

.links{width:100%;
height: 25%;
}

#link1{
width: 100%;
height:80vh;

display: flex;
justify-content:center;
align-items: center;
flex-direction: column;

}


#link1 p{color: white;
font-weight: bold;
font-size: 8vh;

}
#link1 div{
display: flex;
justify-content: center;
align-items:center;
color: white;
width: 80vw;
height: 10vh;
 border: 2px solid green;
 border-radius: 40px;
 margin-top: 5vh;}
 
 #connect{
 margin-bottom: 5vh;}
 
 .chacha{
 border-radius:30px;
 width:90vw;
 height: 15vh; 
color: white;
padding-left: 10vw;
padding-top: 5vw;
border-bottom: 1px solid lightgreen;
position: relative;
}

 .chachi{ 
 border-top: 1px solid lightgreen;}
 
.chacha h5{margin-top: 1vh;}

.chacha i{color: green;
position: absolute;
right: -2vh;
font-size: 5vh;
bottom:5vh;}